requests
pandas
fastparquet
numpy
matplotlib
seaborn
dotenv
tqdm
ipykernel
geopandas
shapely
scikit-learn
fastapi
uvicorn
scikit-learn
pyyaml
alphashape
pyarrow
elasticsearch==8.12.1
scipy
geopy
contextily
folium
